// olimpus.scss

// Required
@import "functions";

// Default variable overrides
/* $body-bg: #beb8b8;
$body-color: #111; */

// Required
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "root";

// Optional Bootstrap components here
@import "reboot";
@import "type";
@import "buttons";

@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");
// Variables
$color-primario: #05000a;
// Navbar
.navbar-olimpus {
  background-color: darken($color-primario, 10%); // Ejemplo de función de color

  .navbar-text h1 {
    color: #ffffff;
  }
}

// TIPOGRAFIA--

/* Estilos personalizados para los títulos */

// Fuente semi-bold
$display-font-weight: 600;

// Familia tipográfica para títulos y displays
$font-family-titulos: "Atma";
h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: $font-family-titulos; // Aquí se aplica la fuente 'Atma'
}

$font-family-parrafos: "Inter";

p {
  font-family: $font-family-parrafos;
}
// Tamaños de fuente para h1 a h6

$custom-h-font-sizes: (
  1: 40px,
  2: 32px,
  3: 28px,
  4: 24px,
  5: 20px,
  6: 16px,
);

$display-font-sizes: map-merge($display-font-sizes, $custom-h-font-sizes);

// Tamaños de fuente para display-1 a display-6

$custom-display-font-sizes: (
  1: 72px,
  2: 64px,
  3: 58px,
  4: 52px,
  5: 48px,
  6: 32px,
);

$display-font-sizes: map-merge($display-font-sizes, $custom-display-font-sizes);

// Tamaños de fuente para textos

$font-weight-fs-1: 325;
$font-weight-fs-2: 350;
$font-weight-fs-3: 700;
$font-weight-fs-4: 600;

// Tamaños de fuente personalizados
$custom-font-sizes: (
  "fs-1": 24px,
  "fs-2": 24px,
  "fs-3": 24px,
  "fs-4": 24px,
);

.fs-1-xlarge {
  font-size: map-get($custom-font-sizes, "fs-1");
  font-weight: $font-weight-fs-1;
}

p.display-1 {
  font-family: "Atma" !important;
}
p.display-2 {
  font-family: "Atma" !important;
}
p.display-3 {
  font-family: "Atma" !important;
}
p.display-4 {
  font-family: "Atma" !important;
}
p.display-5 {
  font-family: "Atma" !important;
}
p.display-6 {
  font-family: "Atma" !important;
}
p.display-7 {
  font-family: "Atma" !important;
}

p {
  font-family: "GothamPro" !important;
  font-weight: normal;
}
// body-xlarge
p.fw-light.xlarge {
  font-size: 24px !important;
}
p.fw-normal.xlarge {
  font-size: 24px !important;
}
p.fw-semibold.xlarge {
  font-size: 24px !important;
}
p.fw-bold.xlarge {
  font-size: 24px !important;
}

// body-large
p.fw-light.large {
  font-size: 20px !important;
}
p.fw-normal.large {
  font-size: 20px !important;
}
p.fw-semibold.large {
  font-size: 20px !important;
}
p.fw-bold.large {
  font-size: 20px !important;
}

// body-base
p.fw-light.base {
  font-size: 16px !important;
}
p.fw-normal.base {
  font-size: 16px !important;
}
p.fw-semibold.base {
  font-size: 16px !important;
}
p.fw-bold.base {
  font-size: 16px !important;
}

// body-small
p.fw-light.small {
  font-size: 14px !important;
}
p.fw-normal.small {
  font-size: 14px !important;
}
p.fw-semibold.small {
  font-size: 14px !important;
}
p.fw-bold.small {
  font-size: 14px !important;
}

// body-small
p.fw-light.tiny {
  font-size: 12px !important;
}
p.fw-normal.tiny {
  font-size: 12px !important;
}
p.fw-semibold.tiny {
  font-size: 12px !important;
}
p.fw-bold.tiny {
  font-size: 12px !important;
}

// ------------- MODO DEFAULT -------------

// Definicion de colores
$primary-default: #60269e;
$secondary-default: #ffcd00;
$complementary-default: #005cb9;
@include color-mode(default) {
  $theme-colors: (
    "primary": $primary-default,
    "secondary": $secondary-default,
  );

  //Lista de nuevos colores
  $custom-colors-default: (
    "complementary": $complementary-default,
  );

  // Union de colores
  $theme-colors: map-merge($theme-colors, $custom-colors-default);

  @import "bootstrap";
}

// ------------- MODO OSCURO (DARK) -------------

$primary-dark: #460e7e;
$secondary-dark: #dcb204;
$complementary-dark: #05478a;

@include color-mode(dark) {
  $theme-colors: (
    "primary": $primary-dark,
    "secondary": $secondary-dark,
  );

  //Lista de nuevos colores
  $custom-colors-dark: (
    "complementary": $complementary-dark,
  );

  // Union de colores
  $theme-colors: map-merge($theme-colors, $custom-colors-dark);

  @import "bootstrap";
}

//----------- MODO CLARO (LIGHT) -------------

// Definicion de colores
$primary-light: #d8d3e4;
$secondary-light: #ffe17e;
$complementary-light: #64b1fe;
$white: #fff;
$black: #0d0217;

// Sobreescritura de colores
$theme-colors: (
  "primary": $primary-light,
  "secondary": $secondary-light,
);

//Lista de nuevos colores
$custom-colors: (
  "complementary": $complementary-light,
  "white": $white,
  "black": $black,
);

// Union de colores
$theme-colors: map-merge($theme-colors, $custom-colors);

// - STATUS COLOR

// Definicion de colores
$success: #1f8e38;
$danger: #bf2b39;
$warning: #f3951f;
$info: #218681;

// Sobreescritura de colores
$theme-color-status: (
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
);

// Union de colores
$theme-colors: map-merge($theme-colors, $theme-color-status);

// - GRAY COLOR

// Definicion de colores
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$theme-colors-grays: (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
);

$theme-colors: map-merge($theme-colors, $theme-colors-grays);

// FORUMS IMPUT
/* Estilos de los inputs */

$focus-color: $primary-default;

$input-disabled-color: $gray-200;
$input-disabled-bg: $gray-200;
$input-disabled-border-color: $gray-300;
$input-border-width: 1px;
$input-border-color: $gray-400;

$input-focus-bg: $input-bg;
$input-focus-border-color: tint-color($focus-color, 50%);
$input-focus-color: $dark;
$input-focus-width: $input-btn-focus-width;
$input-focus-box-shadow: 0 0 $focus-ring-blur $focus-ring-width
  rgba(#6610f2, 0.15);

input:invalid {
  box-shadow: 0 0 $focus-ring-blur $focus-ring-width rgba($danger, 0.2) !important;
}

input:enabled::placeholder {
  color: $gray-600 !important;
}

input:active::placeholder {
  color: $gray-900 !important;
}

input:active {
  background: $white !important;
  color: $gray-900 !important;
  border: 1px solid var($gray-400, #ced4da) !important;
}

input:disabled {
  color: $gray-600 !important;
}

input:disabled::placeholder {
  color: $gray-600 !important;
}

body {
  background-color: #111519;
}

.bg-purple {
  background-color: #6f42c1;
}

.section-title {
  font-size: 1.5rem;
  color: #6f42c1;
  margin-bottom: 1rem;
}

.form-control.placeholder-purple {
  border: 2px solid #7749f8;
}

.form-control.placeholder-red {
  border-color: #d9534f;
}

.form-control.placeholder-grey {
  border-color: #adb5bd;
}

.btn-purple {
  background-color: #6f42c1;
  color: white;
}

.btn-purple:hover {
  background-color: #5a34a5;
  color: white;
}
/* Radio Buttons */

/* Estilo base para los radio buttons de Bootstrap */
.form-check-input[type="radio"] {
  border: 1px solid $primary-light; /* Borde púrpura */
  border-radius: 50%; /* Redondeado para que sea un círculo */
  background-color: $white;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

/* Sombra para el estado de foco */
.form-check-input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 1px $primary-default;
}

/* Estilo cuando está seleccionado */
.form-check-input[type="radio"]:checked {
  background-color: $primary-default; /* Fondo púrpura */
  border-color: $primary-default; /* Borde púrpura */
}

/* Círculo blanco en el centro cuando está seleccionado */
.form-check-input[type="radio"]:checked::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: $white; /* Círculo blanco en el centro */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-check-input[type="radio"]:disabled {
  border: 1px solid $primary-light; /* Borde púrpura */
  border-radius: 50%; /* Redondeado para que sea un círculo */
  background-color: $gray-200;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

/* Checkbox */

.form-check-input[type="checkbox"] {
  border: 1px solid $primary-default
}

.form-check-input[type="checkbox"]:checked {
  background-color: $primary-default;
}

@import "bootstrap";
