// olimpus.scss

// Required
@import "functions";

// Default variable overrides
/* $body-bg: #beb8b8;
$body-color: #111; */

// Required
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "root";

// Optional Bootstrap components here
@import "reboot";
@import "type";
@import "buttons";

// MODO CLARO

$primary: #D8D3E4;
$secondary: #FFE17E;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

// MODO OSCURO

@include color-mode(dark) {
  $primary-dark: #460e7e;
  $secondary-dark: #dcb204;

  $theme-colors: (
    "primary": $primary-dark,
    "secondary": $secondary-dark,
  );

  @import "bootstrap";
}

@import "bootstrap";
