// olimpus.scss

// Required
@import "functions";

// Default variable overrides
/* $body-bg: #beb8b8;
$body-color: #111; */

// Required
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "root";

// Optional Bootstrap components here
@import "reboot";
@import "type";
@import "buttons";

$primary: #62269e;
$danger: #abff36;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

// Custom map
$custom-colors: (
  "custom-color": #900,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@include color-mode(dark) {
  $primary-dark: #9c9e26;

  $theme-colors: (
    "primary": $primary-dark,
  );
  
  @import "bootstrap";
}

@import "bootstrap";
